# API gateway
api.transcenders.online {

  # --- CORS: PRE-FLIGHT ---
  @preflight {
    method OPTIONS
    header Origin *
    header Access-Control-Request-Method *
  }
  handle @preflight {
    @from_app header Origin https://app.transcenders.online
    header @from_app {
      Access-Control-Allow-Origin {http.request.header.Origin}
      Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE, OPTIONS"
      Access-Control-Allow-Headers {http.request.header.Access-Control-Request-Headers}
      Access-Control-Allow-Credentials true
      Access-Control-Max-Age 86400
      Vary "Origin, Access-Control-Request-Method, Access-Control-Request-Headers"
    }
    respond "" 204
  }

  @has_origin header Origin *
  @from_app  header Origin https://app.transcenders.online
  header @from_app {
    Access-Control-Allow-Origin {http.request.header.Origin}
    Access-Control-Allow-Credentials true
    Vary Origin
  }

  # --- ROUTING ---
  @auth  path /auth* /2fa*
  @user  path /users* /avatars* /admin* /friendships*
  @score path /score*

  reverse_proxy @auth  auth-service:3000
  reverse_proxy @user  user-service:3000
  reverse_proxy @score score-service:3000
}